# Spark DataFrame Basics

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('Data/Spark_DataFrames/people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
#python list of column names
df.columns

['age', 'name']

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [12]:
#True means if allowed
data_schema = [StructField('age',IntegerType(),True)]